* {
  margin:0;
  padding:none;
}

body {
  font-family: sans-serif;
  background-color: rgb(254,254,254);
  letter-spacing: .1rem;
}

a {
  text-decoration: none;
  color:inherit;
}
a:hover {
  text-decoration: underline;
  color:inherit;
}

#top-nav {
  background-color: rgb(55,55,55);
  color:white;
  top:0;
  position:fixed;
  display:block;

  width:100%;

} 

#top-nav a {
  color:white;
  padding: 16px;
  font-size: 16px;
  background-color:transparent;
  float:left;
  display:block;
}
#top-nav a:hover {
  background-color: grey;
  cursor:pointer;
  text-decoration:none;
}
#home-btn:hover {
  background-color: rgb(50, 200, 100) !important;
}
#about {
  background-color: red;
  color: white;
  text-align:center;
  padding: 15px;
}

#logo {
  outline: 3px orange;
  border-radius: 20px;
}
